six==1.15.0
pyarrow==0.17.1
lmdb==1.0.0
Pillow==5.2.0
-i https://download.pytorch.org/whl/cu90/torch_stable.html # change the link if you are using a CUDA version other than 9.0
torch==1.0.0
torchvision==0.2.0
